{
        "bot_prefix" : "!",
        "bot_passes" : 1,
        "bot_nickname" : "WorldAutomation.Net",
	"bot_admin_id" : "196825309692035072",
	"bot_token" : "",
	"bot_web_port" : 80,
	"bot_web_title" : "WorldAutomation.Net",
	"bot_web_favicon" : "",
	"bot_logo_long" : "",
	"bot_logo_square" : "",
	"bot_icon_log" : "",
	"bot_icon_inet" : "",
	"bot_icon_about" : "",
	"bot_icon_help" : "",
	"bot_icon_ticket" : "",
	"bot_icon_heart" : "",
	"discord_server_id" : "221905801474867205",
	"discord_category_id_support" : "519176184886722560",
	"discord_channel_id_log" : "226249731112828928",
	"discord_channel_id_welcome" : "221905801474867205",
	"discord_auto_role_name": "Stranger",
	"discord_server_support_role_id_one" : "424623754245570570",
	"discord_server_support_role_id_two" : "413460388072652810",
	"discord_bot_name" : "WorldAutomation.Net",
	"discord_channel_id_radio" : "423894517213691906",
	"mysql_host" : "worldautomation.net",
	"mysql_user" : "worldauto",
	"mysql_pass" : "w0rld@ut09999",
	"mysql_database" : "mainSite",
	"info_website" : "WorldAutomation.Net",
	"info_copyright" : ":copyright:2018 All Rights Reserved",
	"api_youtube_data" : ""
}
